toggle-all  {
	padding: 12px 16px;
	display:block;
	font-size: 0;
}

toggle-all::before {
	display:block;
	line-height: 1;
	content: '❯';
	font-size: 22px;
	color: #e6e6e6;
	-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
		margin: 50% 45% 50% 50%;

}

toggle-all[checked]:before {
	color: #737373;
}